:root {
  --primary-dalia-green: #89beb1;
  --primary-pink-pastel: #fbf0f0;
  --secondary-soft-grey: #828282;
  --secondary-very-light-grey: #e6e6e6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100dvw;
  min-height: 100dvh;
  font-family: georama;
  padding: 16px;
}

main {
  max-width: 1440px;
  margin: auto;
}

/* Styling of Header and Navbar */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-pink-pastel);
  padding: 10px 15px;

  border-radius: 20px 20px 0 0;
}

.logo_container img {
  max-width: 50px;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
}

nav > ul > li {
  display: inline;
  padding: 10px 20px;
  font-size: large;
}

nav > ul > li > a {
  text-decoration: none;
  color: #000;
}

nav > ul > li:hover {
  background-color: var(--primary-dalia-green);
  border-radius: 15px;
}

.button {
  background-color: var(--primary-pink-pastel);
  color: #000;
  width: fit-content;
  padding: 8px;
  border-radius: 10px;
  margin-top: 10px;
}

.button:hover {
  background-color: rgb(232, 104, 211);
}

.logos_container img {
  max-width: 25px;
  width: 100%;
}

/* Below is style for my form. */
form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  padding-bottom: 2em;
}

fieldset {
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: fit-content;
  border: none;
  border-bottom: 3px solid var(--secondary-very-light-grey);
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

/* Ci-dessous, table specification */

table {
  width: 60%;
  margin-bottom: 20px;
  margin-top: 10px;
}

.skill {
  font-weight: bold;
}
th {
  text-align: left;
  padding-bottom: 0px;
  padding-top: 10px;
  font-weight: normal;
}

.certif_table {
  padding-left: 33px;
}
